<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.whymca.dive" android:versionCode="1" android:versionName="1.0">
	<application android:label="@string/app_name" android:icon="@drawable/icon">
	<!-- JUST one activity -->
		<activity android:name="DiveActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- receiver for phone state changes -->
		<receiver android:name=".DivePhoneProbe">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
	</application>
	<!-- permission for reading phone state -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<!-- from 1.6 to 2.1 -->
	<uses-sdk android:maxSdkVersion="7" android:minSdkVersion="4"
		android:targetSdkVersion="4" />
</manifest> 
